<div class="container-fluid">
    <div class="row my-auto py-4 px-5" style="background: white;">
        <div class="col-auto">
            <button [ngClass]="selection == 'all' ? 'btn section section-active' : 'btn section'" (click)="changeSelection('all')"> TODAS </button>
        </div>
        <div class="col-auto">
            <button class="btn section-green" [ngClass]="selection == 'published' ? 'section-green-active' : ''" (click)="changeSelection('published')"> PUBLICADAS  </button>
        </div>
        <div class="col-auto">
            <button class="btn section-yellow" [ngClass]="selection == 'forapproval' ? 'section-yellow-active' : ''" (click)="changeSelection('forapproval')"> EM APROVAÇÃO  </button>
        </div>
    </div>
    <div [ngSwitch]="selection" class="container-fluid p-5">
        <div class="row" *ngSwitchCase = "'all'">
            <div *ngFor="let exhibition of exhibitions" class="col-5 m-1 my-4">
                <div class="card text-white">
                    <img class="card-img" src="../../../../../assets/images/0001_M2.jpg" alt="Card image">
                    <div class="card-img-overlay">
                    <div class="row">
                        <div class="col-auto">
                            <span class="dot" [ngClass]="{'dot-green': exhibition.status === 'PUBLISHED', 'dot-yellow' : exhibition.status === 'FORAPPROVAL' }"></span>
                        </div>
                    </div>
                      <h5 class="card-title">{{exhibition.title}}</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="card-footer">
                        <div class="row mt-auto">
                            <div class="col-auto">
                                <img style="width:35px" src="../../../../../assets/icons/icon_userwhite.svg"/>
                            </div>
                            <div class="col-auto">
                                Ana Silva
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <img style="width:32px" src="../../../../../assets/icons/sharewhite.svg"/>
                            </div>
                            <div class="col-auto">
                                Ana Silva,Ana Silva,Ana Silva,Ana Silva
                            </div>
                        </div>
                      </div>
 
                    </div>
                  </div>
            </div>
        </div>
        <div class="row" *ngSwitchCase = "'published'">
            <div *ngFor="let exhibition of published" class="col-5 m-1 my-4">
                <div class="card text-white">
                    <img class="card-img" src="../../../../../assets/images/0001_M2.jpg" alt="Card image">
                    <div class="card-img-overlay">
                    <div class="row">
                        <div class="col-auto">
                            <span class="dot" [ngClass]="{'dot-green': exhibition.status === 'PUBLISHED', 'dot-yellow' : exhibition.status === 'FORAPPROVAL' }"></span>
                        </div>
                    </div>
                      <h5 class="card-title">{{exhibition.title}}</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="card-footer">
                        <div class="row mt-auto">
                            <div class="col-auto">
                                <img style="width:35px" src="../../../../../assets/icons/icon_userwhite.svg"/>
                            </div>
                            <div class="col-auto">
                                Ana Silva
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <img style="width:32px" src="../../../../../assets/icons/sharewhite.svg"/>
                            </div>
                            <div class="col-auto">
                                Ana Silva,Ana Silva,Ana Silva,Ana Silva
                            </div>
                        </div>
                      </div>
 
                    </div>
                  </div>
            </div>
        </div>
        <div class="row" *ngSwitchCase = "'forapproval'">
            <div *ngFor="let exhibition of forapproval" class="col-5 m-1 my-4">
                <div class="card text-white">
                    <img class="card-img" src="../../../../../assets/images/0001_M2.jpg" alt="Card image">
                    <div class="card-img-overlay">
                    <div class="row">
                        <div class="col-auto">
                            <span class="dot" [ngClass]="{'dot-green': exhibition.status === 'PUBLISHED', 'dot-yellow' : exhibition.status === 'FORAPPROVAL' }"></span>
                        </div>
                    </div>
                      <h5 class="card-title">{{exhibition.title}}</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="card-footer">
                        <div class="row mt-auto">
                            <div class="col-auto">
                                <img style="width:35px" src="../../../../../assets/icons/icon_userwhite.svg"/>
                            </div>
                            <div class="col-auto">
                                Ana Silva
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <img style="width:32px" src="../../../../../assets/icons/sharewhite.svg"/>
                            </div>
                            <div class="col-auto">
                                Ana Silva,Ana Silva,Ana Silva,Ana Silva
                            </div>
                        </div>
                      </div>
 
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>