<div class="container-fluid">
    <div class="container-fluid p-5" >
        <div class="row w-100"  style="min-height: 4rem;">
            <div class="col-auto col-xs-12" style="margin: 1px; padding: 1px;">
                <button class="btn btn-primary createnav px-4 py-3" [ngClass]="step == 0 ? 'createnav-active' : ''" (click)="changeStep(0)">NOME DA EXPOSIÇÃO</button>
            </div>
            <div class="col col-xs-12" style="margin: 1px; padding: 1px;">
                <button class="btn btn-primary createnav  px-2 py-3" [ngClass]="step == 1 ? 'createnav-active' : ''" [disabled]="exhibition.id == 0" (click)="changeStep(1)">APRESENTAÇÃO</button>
            </div>
            <div class="col col-xs-12" style="margin: 1px; padding: 1px;">
                <button class="btn btn-primary createnav  px-2 py-3" [ngClass]="step == 2 ? 'createnav-active' : ''" [disabled]="exhibition.id == 0" (click)="changeStep(2)">SECÇÕES</button>
            </div>
            <div class="col col-xs-12" style="margin: 1px; padding: 1px;">
                <button class="btn btn-primary createnav  px-2 py-3" [ngClass]="step == 3 ? 'createnav-active' : ''" [disabled]="exhibition.id == 0" (click)="changeStep(3)">MAPA</button>
            </div>
            <div class="col col-xs-12" style="margin: 1px; padding: 1px;">
                <button class="btn btn-primary createnav px-2 py-3" [ngClass]="step == 4 ? 'createnav-active' : ''" [disabled]="exhibition.id == 0" (click)="changeStep(4)" >MATERIAIS AUXILIARES</button>
            </div>
            <div class="col col-xs-12" style="margin: 1px; padding: 1px;">
                <button class="btn btn-primary createnav px-2 py-3" [ngClass]="step == 5 ? 'createnav-active' : ''" [disabled]="exhibition.id == 0" (click)="changeStep(5)" >FICHA TÉCNICA</button>
            </div>
        </div>
        
        <div [ngSwitch]="step">
            <div *ngSwitchCase = "0">
                <app-title-form [(exhibition)]="exhibition"></app-title-form>
            </div>
            <div *ngSwitchCase = "1">
                <app-introduction-form [(exhibition)]="exhibition"></app-introduction-form>
            </div>
            <div *ngSwitchCase = "2">
                <app-section-form [exhibition]="exhibition"></app-section-form>
            </div>
            <div *ngSwitchCase = "3">
                <app-map-form [exhibition]="exhibition"></app-map-form>
            </div>
            <div *ngSwitchCase = "4">
                <app-auxiliary-items-form [exhibition]="exhibition"></app-auxiliary-items-form>
            </div>
            <div *ngSwitchCase = "5">
                <app-credits-form [exhibition]="exhibition"></app-credits-form>
            </div>
            <div *ngSwitchDefault>
                <app-title-form [exhibition]="exhibition"></app-title-form>
            </div>
        </div>
        <div class="row" style="min-height: 4rem;">
            <div *ngIf="exhibition.id==0" class="col-auto" style="margin: 1px; padding: 1px;">
                <button class="btn btn-primary w-100 p-3 createnav createnav-active" [disabled]="((exhibition.title=='') || (exhibition.subtitle==''))" (click)=createExhibition()>CRIAR</button>
            </div>
            <div *ngIf="exhibition.items.length>0" class="col-auto " style="margin: 1px; padding: 1px;">
                <button class="btn btn-primary w-100 p-3 createnav" (click)="previewExhibition()" >  PREVIEW  </button>
            </div>
            <div class="col"></div>
            <div class="col-auto" style="margin: 1px; padding: 1px;">
                <button class="btn btn-primary w-100 p-3 createnav" (click)="saveExhibitionAsDraft()">GUARDAR COMO RASCUNHO</button>
            </div>
            <div *ngIf="exhibition.id!=0 && step !=5" class="col-auto" style="margin: 1px; padding: 1px;">
                <button class="btn btn-primary w-100 p-3 createnav " (click)="changeStep(step+1)">SEGUINTE</button>
            </div>
            <div *ngIf="exhibition.id!=0 && step ==5" class="col-auto" style="margin: 1px; padding: 1px;">
                <button class="btn btn-primary w-100 p-3 createnav " (click)="changeStep(step+1)">PUBLICAR</button>
            </div>
        </div>
    </div>
</div>