<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="https://www.fillmurray.com/140/60"/></a>
    <a routerLink="/admin/dashboard" class="nav-link sidebar-link" [routerLinkActive]="['sidebar-active']"  aria-current="page">
        <div class="row align-items-center justify-content-center">
          <div class="col-auto">
            Pesquisar
          </div>
        </div>
      </a>
      <a routerLink="/admin/dashboard" class="nav-link sidebar-link" [routerLinkActive]="['sidebar-active']"  aria-current="page">
        <div class="row align-items-center justify-content-center">
          <div class="col-auto">
            Investigar
          </div>
        </div>
      </a>
      <a routerLink="/exhibitions" class="nav-link sidebar-link" [routerLinkActive]="['sidebar-active']"  aria-current="page">
        <div class="row align-items-center justify-content-center">
          <div class="col-auto">
            Exposições
          </div>
        </div>
      </a>
      <a routerLink="" class="nav-link sidebar-link" [routerLinkActive]="['sidebar-active']"  aria-current="page">
        <div class="row align-items-center justify-content-center">
          <div class="col-auto">
            Coleções
          </div>
        </div>
      </a>
      <a routerLink="" class="nav-link sidebar-link" [routerLinkActive]="['sidebar-active']"  aria-current="page">
        <div class="row align-items-center justify-content-center">
          <div class="col-auto">
            Formação
          </div>
        </div>
      </a>
      <a routerLink="/admin/dashboard" class="nav-link sidebar-link" [routerLinkActive]="['sidebar-active']"  aria-current="page">
        <div class="row align-items-center justify-content-center">
          <div class="col-auto">
            Infrastrutura
          </div>
        </div>
      </a>
</nav>
  