.section {
    background-color: var(--secondary-color) ;
    justify-content: center;
    padding: 12px 23px 8px 23px;
    color: var(--text-grey);
    border-radius: 30px;
    text-align: center;
    font-family: "OpenSansBold";
}

.section:hover {
    background-color: var(--primary-color-hover);
    color: white;
}
