<div *ngIf="exhibition" class="container-fluid">
    <div *ngIf="exhibition.cover" class="w-100">
        <img class="img-fluid w-100" style="height:88vh; object-fit: cover;"src="{{exhibition.cover.identifier}}"/>
    </div>
    <div class="row">
        <div class="row justify-content-center text-align-center mt-3 ml-2">
            <div class="col-auto">
                <img src="https://www.fillmurray.com/30/30"/>
            </div>
        </div>
        <div class="row w-50 justify-content-center mx-auto align-items-center text-align-center mt-3">
            <div class="col-auto">
                <img src="https://www.fillmurray.com/30/30"/>
            </div>
            <div class="col-auto">
                <img src="https://www.fillmurray.com/30/30"/>
            </div>
            <div class="col-auto">
                <img src="https://www.fillmurray.com/30/30"/>
            </div>
            <div class="col-auto">
                <img src="https://www.fillmurray.com/30/30"/>
            </div>
 
        </div>
        <div class="row justify-content-center text-align-center mt-3 mr-2">
            <div class="col-auto">
                <img src="https://www.fillmurray.com/30/30"/>
            </div>
        </div>
    </div>
    <div  class="row justify-content-center mx-auto align-items-center text-align-center mt-5">
        <div *ngFor="let item of exhibition.items;let i=index;" (click)="changeSection(i)" [ngStyle]="{'background-color': i === selectedSection ? '#1681A8' : '#F0F1F2'}" class="section col-auto my-auto mx-2">
            <h6 [ngStyle]="{'color': i === selectedSection ? 'white' : '#4C4C4C'}">{{item.title}}</h6>
        </div>
    </div>
    <div *ngIf="exhibition" class="">
        <h3>{{exhibition.items[selectedSection].title}}</h3>
        {{exhibition.items[selectedSection]}}
    </div>
    <div class="row justify-content-center mx-auto align-items-center text-align-center">
        <div class="col-auto section" (click)="changeSection(selectedSection+1)">
            <h6>Seguinte</h6>
        </div>
    </div>
    <div class="row m-5 justify-content-center mx-auto align-items-center text-align-center">
        <h3>Outras Exposições</h3>
    </div>
    <div class="row justify-content-center mx-auto align-items-center text-align-center">
        <div *ngFor="let exhibition of exhibitions" class="col-auto">
            <app-exhibition-card [exhibition]="exhibition"></app-exhibition-card>
        </div>
    </div>
</div>