/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #1681A8;
    --primary-color-hover: #13556E;
    --background-color: #e5e5e5;
    --secondary-color: #F0F1F2;
    --text-color: #2d2d2d;
    --side-bar-width : 15em;
  }