<div *ngIf="exhibition" class="container">
    <div class="row justify-content-center mx-auto align-items-center text-align-center">
        <div class="col-auto">
            <img src="https://www.fillmurray.com/30/30"/>
        </div>
        <div class="col-auto">
            <img src="https://www.fillmurray.com/30/30"/>
        </div>
        <div class="col-auto">
            <img src="https://www.fillmurray.com/30/30"/>
        </div>
    </div>
    <div  class="row justify-content-center mx-auto align-items-center text-align-center mt-5">
        <div *ngFor="let item of exhibition.items;let i=index;" (click)="changeSection(i)" [ngStyle]="{'background-color': i === selectedSection ? '#1681A8' : '#F0F1F2'}" class="section col-auto my-auto mx-2">
            <h6 [ngStyle]="{'color': i === selectedSection ? 'white' : '#868E96'}">{{item.title}}</h6>
        </div>
    </div>
    <div *ngIf="exhibition" class="">
        {{exhibition.items[selectedSection].text}}
    </div>
    <div class="row justify-content-center mx-auto align-items-center text-align-center">
        <div class="col-auto section" (click)="changeSection(selectedSection+1)">
            <h6>Seguinte</h6>
        </div>
    </div>
</div>