<div class="container-fluid" style="background-color: black; min-height:99vh;">
    <div class="row h-100 w-100" style="height:100%; background-color: black;">
        <div class="col-10">
            <!-- <img class="image-display" style="object-fit: cover;" src="https://www.fillmurray.com/30/30"/> -->
            <img class="custom" src="{{images[index]}}"/>
        </div>
        <div class="col-2">
            <div class="row">
                <div class="col-auto">
                    <img (click)="open()"  src="../../../../../assets/icons/info.svg"/>
                </div>
                <div class="col-auto">
                    <img (click)="changeSelect(index)" src="https://www.fillmurray.com/30/30"/>
                </div>
                <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="row mt-5 align-items-center" style="min-height: 90vh;">
                <div class="col-auto">
                    <h3 class="title">Nome do capitulo</h3>
                    <h5 class="text">origem do recuso + nome e descrição da foto</h5>
                </div>
            </div>
        </div>
    </div>
</div>
