<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Eliminar</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis massa congue, lobortis ex sed, fermentum purus.
</div>
<div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">CANCELAR</button><button type="button" class="btn btn-outline-dark" (click)="deleteExhibition()">CONFIRMAR</button>
</div>