<nav class="sidebar">
    <div class="d-flex flex-column flex-shrink-0" style="width: 15em;">
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item p-0 m-0">
            <a routerLink="/admin/dashboard" class="nav-link sidebar-link" [routerLinkActive]="['sidebar-active']"  aria-current="page">
              <div class="row align-items-center justify-content-center">
                <div class="col-auto">
                  <img style="width: 150px" src="../../../../../assets/icons/rossiologolight.svg"/>
                </div>
               
              </div>
            </a>
          </li>
          <li class="nav-item p-0 m-0">
            <a routerLink="/admin/dashboard" class="nav-link sidebar-link" [routerLinkActive]="['sidebar-active']"  aria-current="page">
              <div class="row align-items-center justify-content-center">
                <div class="col-auto ml-3">
                  <img style="width:28px" src="../../../../../assets/icons/sidebardashboard.svg"/>
                </div>
                <div class="col ml-0 pl-1">
                  Dashboard
                </div>
              </div>
            </a>
          </li>
          <li>
          <li>
            <a routerLink="/admin/exhibitions/create" class="nav-link sidebar-link " [routerLinkActive]="['sidebar-active']">
              <div class="row align-items-center justify-content-center">
                <div class="col-auto ml-3">
                  <img style="width:28px" src="../../../../../assets/icons/sidebarcreatenewexhibition.svg"/>
                </div>
                <div class="col ml-0 pl-1">
                  Nova Exposição
                </div>
              </div>
            </a>
          </li>
          <li>
            <a routerLink="/admin/exhibitions/drafts" class="nav-link sidebar-link " [routerLinkActive]="['sidebar-active']">
              <div class="row align-items-center justify-content-center">
                <div class="col-auto ml-3">
                  <img style="width:28px" src="../../../../../assets/icons/sidebardrafts.svg"/>
                </div>
                <div class="col ml-0 pl-1">
                  Rascunhos
                </div>
              </div>
            </a>
          </li>
          <li>
            <a routerLink="/admin/exhibitions" class="nav-link sidebar-link " [routerLinkActive]="['sidebar-active']" >
              <div class="row align-items-center justify-content-center">
                <div class="col-auto ml-3">
                  <img style="width:28px" src="../../../../../assets/icons/sidebarlistexhibition.svg"/>
                </div>
                <div class="col ml-0 pl-1">
                  Lista de Exposições
                </div>
              </div>
            </a>
          </li>
          <li>
            <a routerLink="/admin/search" [routerLinkActive]="['sidebar-active']" class="nav-link sidebar-link">
              <div class="row align-items-center justify-content-center">
                <div class="col-auto ml-3">
                  <img style="width:28px" src="../../../../../assets/icons/searchwhite.svg"/>
                </div>
                <div class="col ml-0 pl-1">
                  Pesquisar
                </div>
              </div>
            </a>
          </li>
          <li>
            <a routerLink="/admin/resources" [routerLinkActive]="['sidebar-active']" class="nav-link sidebar-link">
              <div class="row align-items-center justify-content-center">
                <div class="col-auto ml-3">
                  <img style="width:28px" src="../../../../../assets/icons/resources.svg"/>
                </div>
                <div class="col ml-0 pl-1">
                  Recursos
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link sidebar-link">
              <div class="row align-items-center justify-content-center">
                <div class="col-auto ml-3">
                  <img style="width:28px" src="../../../../../assets/icons/sidebarhelp.svg"/>
                </div>
                <div class="col ml-0 pl-1">
                  Ajuda
                </div>
              </div>
            </a>
          </li>
        </ul>
        <hr>
    </div>
</nav>
