.sidebar {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100vh;
    width: var(--side-bar-width);
    height: 100%;
    height: -webkit-fill-available;
    overflow-x: auto;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
  }

.sidebar-link {
  width: 100%;
  padding: 1em;
  padding-left: 4vh;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0;
  color:#B9D8E4;
}

.sidebar-sublink {
  padding-left: 6vh;
}

.sidebar-active {
  color:  white;
}