.text {
   
    font-family: 'OpenSans';
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color:  #FAFAFB;
  }

  .table-striped tbody tr:nth-of-type(even) {
    background-color:  white;
  }
