<div *ngIf="exhibition">
    <div class="row p-2" style="background-color: white; margin-top: 4px; margin-bottom: 4px; border-radius: 5px;">
        <div class="row w-100 p-3 text" dragula="ITEMS" [(dragulaModel)]="exhibition.items"  style=" margin-top: 4px; margin-bottom: 4px; border-radius: 5px;">
            <div class="col-fluid m-1"  (click)="changeSection(i)" *ngFor="let section of exhibition.items;index as i;" [id]="section.id">
                <button [className]="i === choosenSection  ? 'btn createnav createnav-active' : 'btn createnav'"  [id]="section.id">{{section.position}}</button>
            </div>
            <div class="col-fluid m-1" >
                <button class="btn addsection" (click)="addSection()">+</button>
            </div>
            <div *ngFor="let section of availableSections"  class="col-fluid  m-1">
                <button class="btn availablesection">+</button>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" (click)="saveOrder()" style="color: white; background-color: var(--primary-color)"> GUARDAR ORDEM</button>
        </div>
    </div>
    <div class="row p-2"  style="background-color: white; margin-top: 4px; margin-bottom: 4px; border-radius: 5px;">
        <div *ngIf="choosenSection >= 0 && exhibition.items[choosenSection]" class="container-fluid" style="min-height: 200px;">
            <div class="row w-100  mt-5">
                <div class="col-auto">
                    <label for="cover" class="text">NOME SECÇÃO </label>
                </div>
            </div>
            <div class="row w-100 px-3">
                <input required type="text" class="form-control" id="{{'exhibitionItemTitle' + exhibition.items[choosenSection].id" [(ngModel)]="exhibition.items[choosenSection].title" name="exhibitionItemName" #title="ngModel" >
            </div>
    
            <div class="row w-100 mt-5 mb-5">
                <div (click)="addSubSection('text')" class="col-1">
                    <img style="height: 30px;" src="../../../../../assets/icons/bt_text.svg"/>
                </div>
                <div (click)="addSubSection('texttext')" class="col-1">
                    <img style="height: 30px;" src="../../../../../assets/icons/bt_texttext.svg"/>
                </div>
                <div (click)="addSubSection('textresource')" class="col-1">
                    <img style="height: 30px;" src="../../../../../assets/icons/bt_textresource.svg"/>
                </div>
                <div (click)="addSubSection('resourcetext')" class="col-1">
                    <img style="height: 30px;" src="../../../../../assets/icons/bt_resourcetext.svg"/>
                </div>
                <div (click)="addSubSection('resourceresource')" class="col-1">
                    <img style="height: 30px;" src="../../../../../assets/icons/bt_2_colunas_imagem_default_state.svg"/>
                </div>
                <div (click)="addSubSection('resource')" class="col-1">
                    <img style="height: 30px;" src="../../../../../assets/icons/bt_imagem_large_default_state.svg"/>
                </div>
                <div (click)="addSubSection('resourcefull')" class="col-1">
                    <img style="height: 30px;" src="../../../../../assets/icons/bt_imagem_full.svg"/>
                </div>
            </div>
        </div>
    </div>
    <div  *ngIf="exhibition.items[choosenSection]">
        <div dragula="SUBITEMS" [(dragulaModel)]="exhibition.items[choosenSection].subItems" >
            <div  class=""   *ngFor="let subsection of exhibition.items[choosenSection].subItems">
                <div [ngSwitch]="subsection.itemType">
                    <div class="row w-100" style="background-color: white; margin-top: 4px; margin-bottom: 4px; border-radius: 5px;" *ngSwitchCase = "'text'">
                        <div class="col p-3"  >
                            <angular-editor [(ngModel)]="subsection.textSections[0]" [config]="editorConfig"></angular-editor>
                        </div>
                        <div class="col-auto m-0 p-3" style="width: 80px; border-left-width: 2px; border-left-style: solid; border-left-color: var(--background-color)">
                            <div class="row h-100 justify-content-center">
                                <div class="col-12 justify-content-center handle">
                                    <img src="../../../../../assets/icons/bt_move_default.svg"/>
                                </div>
                                <div class="col mt-auto justify-content-center">
                                    <img (click)="removeSubSection(subsection.id)" src="../../../../../assets/icons/delete.svg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row w-100"  style="background-color: white; margin-top: 4px; margin-bottom: 4px; border-radius: 5px;" *ngSwitchCase = "'texttext'">
                        <div class="col p-3"  >
                            <div class="row w-100">
                                <div class="col">
                                    <angular-editor [(ngModel)]="subsection.textSections[0]" [config]="editorConfig"></angular-editor>
                                </div>
                                <div class="col">
                                    <angular-editor [(ngModel)]="subsection.textSections[1]" [config]="editorConfig"></angular-editor>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto m-0 p-3" style="width: 80px; border-left-width: 2px; border-left-style: solid; border-left-color: var(--background-color)">
                            <div class="row h-100 justify-content-center">
                                <div class="col-12 justify-content-center handle">
                                    <img src="../../../../../assets/icons/bt_move_default.svg"/>
                                </div>
                                <div class="col mt-auto justify-content-center">
                                    <img (click)="removeSubSection(subsection.id)" src="../../../../../assets/icons/delete.svg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row w-100"  style="background-color: white; margin-top: 4px; margin-bottom: 4px; border-radius: 5px;" *ngSwitchCase = "'textresource'">
                        <div class="col p-3"  >
                            <div class="row w-100">
                                <div class="col">
                                    <angular-editor [(ngModel)]="subsection.textSections[0]" [config]="editorConfig"></angular-editor>
                                </div>
                                <div class="col d-flex justify-content-center text-center dashed-box" (click)="open(subsection.id,0)">
                                    <div *ngIf="subsection.digitalResources.length == 0" class="text-center justify-content-center" ><h3 style="color:var(--primary-color)">+</h3></div>
                                    <div *ngIf="subsection.digitalResources.length > 0" class="text-center justify-content-center" >
                                        <img class="img-fluid" src="{{subsection.digitalResources[0].identifier}}" /> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto m-0 p-3" style="width: 80px; border-left-width: 2px; border-left-style: solid; border-left-color: var(--background-color)">
                            <div class="row h-100 justify-content-center">
                                <div class="col-12 justify-content-center">
                                    <img src="../../../../../assets/icons/bt_move_default.svg"/>
                                </div>
                                <div class="col mt-auto justify-content-center">
                                    <img (click)="removeSubSection(subsection.id)" src="../../../../../assets/icons/delete.svg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row w-100"  style="background-color: white; margin-top: 4px; margin-bottom: 4px; border-radius: 5px;" *ngSwitchCase = "'resourcetext'">
                        <div class="col p-3"  >
                            <div class="row w-100">
                                <div class="col">
                                    <div *ngIf="subsection.digitalResources.length == 0" class="form-control dashed-box text-center justify-content-center " (click)="open(subsection.id,0)" ><h3 style="color:var(--primary-color)">+</h3></div>
                                    <div *ngIf="subsection.digitalResources.length > 0" class="form-control dashed-box text-center justify-content-center" (click)="open(subsection.id,0)" >
                                        <img class="img-fluid" src="{{subsection.digitalResources[0].identifier}}" /> 
                                    </div>
                                </div>
                                <div class="col">
                                    <angular-editor [(ngModel)]="subsection.textSections[0]" [config]="editorConfig"></angular-editor>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto m-0 p-3" style="width: 80px; border-left-width: 2px; border-left-style: solid; border-left-color: var(--background-color)">
                            <div class="row h-100 justify-content-center">
                                <div class="col-12 justify-content-center">
                                    <img src="../../../../../assets/icons/bt_move_default.svg"/>
                                </div>
                                <div class="col mt-auto justify-content-center">
                                    <img (click)="removeSubSection(subsection.id)" src="../../../../../assets/icons/delete.svg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row w-100" style="background-color: white; margin-top: 4px; margin-bottom: 4px; border-radius: 5px;" *ngSwitchCase = "'resource'">
                        <div class="col p-3"  >
                            <div class="row w-100">
                                <div class="col">
                                    <div *ngIf="subsection.digitalResources.length == 0" class="form-control dashed-box text-center justify-content-center " (click)="open(subsection.id,0)" ><h3 style="color:var(--primary-color)">+</h3></div>
                                    <div *ngIf="subsection.digitalResources.length > 0" class="form-control dashed-box text-center justify-content-center" (click)="open(subsection.id,0)" >
                                        <img class="img-fluid" src="{{subsection.digitalResources[0].identifier}}" /> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto m-0 p-3" style="width: 80px; border-left-width: 2px; border-left-style: solid; border-left-color: var(--background-color)">
                            <div class="row h-100 justify-content-center">
                                <div class="col-12 justify-content-center">
                                    <img src="../../../../../assets/icons/bt_move_default.svg"/>
                                </div>
                                <div class="col mt-auto justify-content-center">
                                    <img (click)="removeSubSection(subsection.id)" src="../../../../../assets/icons/delete.svg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row w-100" style="background-color: white; margin-top: 4px; margin-bottom: 4px; border-radius: 5px;" *ngSwitchCase = "'resourcefull'">
                        <div class="col p-3"  >
                            <div class="row w-100">
                                <div class="col">
                                    <div *ngIf="subsection.digitalResources.length == 0" class="form-control dashed-box text-center justify-content-center " (click)="open(subsection.id,0)" ><h3 style="color:var(--primary-color)">+</h3></div>
                                    <div *ngIf="subsection.digitalResources.length > 0" class="form-control dashed-box text-center justify-content-center" (click)="open(subsection.id,0)" >
                                        <img class="img-fluid" src="{{subsection.digitalResources[0].identifier}}" /> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto m-0 p-3" style="width: 80px; border-left-width: 2px; border-left-style: solid; border-left-color: var(--background-color)">
                            <div class="row h-100 justify-content-center">
                                <div class="col-12 justify-content-center">
                                    <img src="../../../../../assets/icons/bt_move_default.svg"/>
                                </div>
                                <div class="col mt-auto justify-content-center">
                                    <img (click)="removeSubSection(subsection.id)" src="../../../../../assets/icons/delete.svg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row w-100" style="background-color: white; margin-top: 4px; margin-bottom: 4px; border-radius: 5px; min-height: 20vh;" *ngSwitchCase = "'resourceresource'">
                        <div class="col p-3"  >
                            <div class="row w-100">
                                <div class="col">
                                    <div *ngIf="subsection.digitalResources.length == 0" class="form-control dashed-box text-center justify-content-center " (click)="open(subsection.id,0)" ><h3 style="color:var(--primary-color)">+</h3></div>
                                    <div *ngIf="subsection.digitalResources.length > 0" class="form-control dashed-box text-center justify-content-center" (click)="open(subsection.id,0)" >
                                        <img class="img-fluid" src="{{subsection.digitalResources[0].identifier}}" /> 
                                    </div>
                                </div>
                                <div class="col">
                                    <div *ngIf="1 >= subsection.digitalResources.length " class="form-control dashed-box text-center justify-content-center " (click)="open(subsection.id,1)" ><h3 style="color:var(--primary-color)">+</h3></div>
                                    <div *ngIf="subsection.digitalResources.length > 1" class="form-control dashed-box text-center justify-content-center" (click)="open(subsection.id,1)" >
                                        <img class="img-fluid" src="{{subsection.digitalResources[1].identifier}}" /> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto m-0 p-3" style="width: 80px; border-left-width: 2px; border-left-style: solid; border-left-color: var(--background-color)">
                            <div class="row h-100 justify-content-center">
                                <div class="col-12 justify-content-center">
                                    <img src="../../../../../assets/icons/bt_move_default.svg"/>
                                </div>
                                <div class="col mt-auto justify-content-center">
                                    <img (click)="removeSubSection(subsection.id)" src="../../../../../assets/icons/delete.svg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>
    <div class="row w-100 p-2"  style="background-color: white; margin-top: 4px; margin-bottom: 4px; border-radius: 5px;">
        <button class="btn btn-primary text" style="width: 100%; color: white; background-color: var(--primary-color);" (click)="saveSubOrder()"> GUARDAR ORDEM</button>
    </div>
</div>
