<div *ngIf="exhibition">
    <form #titleForm="ngForm">
        <div class="row p-3" style="background-color: white; margin-top: 4px; margin-bottom: 4px; border-radius: 5px;">
            <div class="container-fluid m-1 mt-4" style="min-height: 200px;">
                <div class="mt-5">
                    <label for="title" class="text">FICHA TÉCNICA </label>
                    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="exhibition.credits"></angular-editor>
                </div>
            </div>
        </div>
    </form>
</div>