<div *ngIf="exhibition">
    <form #titleForm="ngForm">
        <div class="row p-3" style="background-color: white; margin-top: 4px; margin-bottom: 4px; border-radius: 5px;">
            <div class="container-fluid m-1 mt-4" style="min-height: 200px;">
                <div class="row w-100">
                    <div class="col-auto">
                        <label for="title" class="text">TÍTULO DA EXPOSIÇÃO </label>
                        <span class="text" style="color: red;" [hidden]  = "title.valid">
                            *
                          </span>
                    </div>
                    <div class="col-auto ml-auto">
                        <label for="title" class="text"> ( Máximo 60 caracteres )  </label>
                    </div>
                </div>
                <div class="row w-100 px-3">
                    <input required type="text" class="form-control" id="title" [(ngModel)]="exhibition.title" name="title" #title="ngModel" >
                </div>
                
                <div class="row w-100 mt-5">
                    <div class="col-auto">
                        <label for="subtitle" class="text">DESCRIÇÃO </label>
                        <span class="text" style="color: red;" [hidden] = "subtitle.valid">
                            *
                          </span>
                    </div>
                    <div class="col-auto ml-auto ">
                        <label for="subtitle" class="text"> ( Máximo 160 caracteres )  </label>
                    </div>
                </div>
                <div class="row w-100 px-3">
                    <textarea rows="3" required  type="text" class="form-control" id="description" [(ngModel)]="exhibition.subtitle"  name="subtitle" #subtitle="ngModel"></textarea>
                </div>
                <div class="row w-100 mt-5">
                    <div class="col-auto">
                        <label for="title" class="text">EQUIPA A PARTILHAR </label>
                    </div>
                </div>
                <div class="row w-100 px-3">
                    <input type="text" class="form-control" id="description" [(ngModel)]="exhibition.subtitle" name="subtitle" >
                </div>
                <div class="text mt-5" [hidden] = "title.valid && subtitle.valid ">
                    <span style="color: red;" [hidden] = "subtitle.valid">
                        *
                      </span>
                   Obrigatório
                </div>
       
            </div>

        </div>

        <!-- <div class="row" style="min-height: 4rem;">
            <div class="col">

            </div>
            <div class="col-auto" style="margin: 1px; padding: 1px;">
                <button class="btn btn-primary w-100 p-3 createnav createnav-active" [disabled]="!titleForm.form.valid" (click)=createExhibition()>CRIAR</button>
            </div>
        </div> -->

  
    </form>
</div>
