<div class="w-100">
    <div class="container-fluid ml-0 mr-0 ">
        <div class="row">
            <ngb-carousel *ngIf="images" class="w-100">
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[0]" alt="Random first slide" class="img-fluid" style="height: 90vh; width: 100%;" >
                  </div>
                  <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[1]" alt="Random second slide" class="img-fluid"  style="height: 90vh; width: 100%;">
                  </div>
                  <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[2]" alt="Random third slide" class="img-fluid"  style="height: 90vh; width: 100%;">
                  </div>
                  <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </ng-template>
              </ngb-carousel>        
        </div>
    </div>
    <div class="m-0 p-5 w-100 text-center" style="background-color: #f0f1f2;">
        <h2>Exposições Digitais</h2>
        <h5 class="m-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h5>
    </div>
  
    <div class="container w-100 mt-5" >
      <div *ngFor="let exhibition of exhibitions" class="row w-100">
          <a routerLink="/exhibition/{{exhibition.id}}" class="col-3 p-2">
            <img class='img-fluid w-100' src="https://www.fillmurray.com/260/300" style="border-top-left-radius: 10px; border-top-right-radius: 10px;"/>
            <div class="p-4" style="background-color: #f0f1f2; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;" >
              <h3>{{exhibition.title}}</h3>
              <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>
              <span>15 min</span>
            </div>
          </a>
      </div>
    </div>
  </div>