<nav class="navbar navbar-light navbar-expand-md  justify-content-md-center justify-content-start ml-0 pl-0 pt-0 pb-0" style="background-color: white;">

    <a class="nav-link" href="#_"  style="width: 14em; height: 6em; background-color:#167fa6; color: white; ">
        <div class="row">
            <div class="col">
                <img src="https://www.fillmurray.com/60/60"/>
                <img src="https://www.fillmurray.com/30/30"/>
            </div>
            <div class="col">
                Gestão de Exposições
            </div>
        </div>
    </a> 
    <div class="navbar-collapse collapse justify-content-between align-items-center " id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-md-center text-left">
            <li class="nav-item my-auto">
                <a class="nav-link navbar-brand mx-0 d-none d-md-inline" href=""><h4 style="font-weight: 600; color: #167fa6; ;">Dashboard</h4></a>
            </li>
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
            <li class="nav-item"><a class="nav-link" href=""><img src="https://www.fillmurray.com/30/30"/>Ana Silva</a> </li>
            <li class="nav-item"><a class="nav-link" href="">Sair</a> </li>
        </ul>
    </div>
</nav>