<nav class="navbar navbar-light navbar-expand-md  justify-content-md-center justify-content-start ml-5 pl-5 pt-0 pb-0" style="background-color: white; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);">
    <div class="navbar-collapse collapse justify-content-between align-items-center " id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-md-center text-center">
            <li class="nav-item mx-auto my-auto">
                <a class="nav-link navbar-brand mx-auto d-none d-md-inline" href=""><h4 style="font-weight: 600; color: #167fa6; ;">Gestão de Exposições</h4></a>
            </li>
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
            <li class="nav-item"><a class="nav-link" href="">Marco <img style="width: 30px" src="../../../../../assets/icons/icon_user.svg"/></a> </li>
            <li class="nav-item"><a class="nav-link" href="">Sair</a> </li>
        </ul>
    </div>
</nav>