<div *ngIf="exhibition">
    <h2>{{ exhibition.title }}</h2>
    <h3>{{ exhibition.subtitle }}</h3>
    <div>
        <span> editor:</span> {{exhibition.editor}} 
    </div>
    <div>
        <span> creationDate:</span> {{exhibition.creationDate}} 
    </div>
    <div>
        <span> status:</span> {{exhibition.status}} 
    </div>
    <div>
        <span> keywords:</span> {{exhibition.keywords}} 
    </div>
    <ul>
        <li *ngFor="let item of exhibition.items">
            <span>item :</span>{{item.id}}
            <div>
                <span> exhibition id : </span> {{item.exhibitionId}} 
            </div>
            <div>
                <span> Item text : </span> {{item.text}}
            </div>
        </li>
    </ul>
</div>