<div *ngIf="digitalResource">
    <div class="modal-header w-100">
      <h4 class="modal-title w-100" style="text-align: center;" id="modal-basic-title"><img src="https://www.fillmurray.com/30/30"/><img src="https://www.fillmurray.com/30/30"/><img src="https://www.fillmurray.com/30/30"/><img src="https://www.fillmurray.com/30/30"/></h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="container justify-content-center">
     <div class="row">
        <div class="col-3">
          <img style="width: 100%" src="https://www.fillmurray.com/230/230"/>
          <div class="row justify-content-center">
              <div class="col-auto m-1 p-0">
                <img src="https://www.fillmurray.com/30/30"/>
              </div>
              <div class="col-auto m-1 p-0">
                <img src="https://www.fillmurray.com/30/30"/>
              </div>
              <div class="col-auto m-1 p-0">
                <img src="https://www.fillmurray.com/30/30"/>
              </div>
              <div class="col-auto m-1 p-0">
                <img src="https://www.fillmurray.com/30/30"/>
              </div>
              <div class="col-auto m-1 p-0">
                <img src="https://www.fillmurray.com/30/30"/>
              </div>
              <div class="col-auto m-1 p-0">
                <img src="https://www.fillmurray.com/30/30"/>
              </div>
              <div class="col-auto m-1 p-0">
                <img src="https://www.fillmurray.com/30/30"/>
              </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-auto">
              <button class="btn">ORIGEM RECURSO<img style="width: 30;" src="../../../../../assets/icons/gotoorigin.svg"></button>
            </div>
          </div>
        </div>
        <div class="col-9 text">
            <h2> Lorem Ipsum</h2>
            <div class="row">
                <div class="col-6">
                    <h6>DESCR</h6>
                    {{digitalResource.description}}
                </div>
                <div class="col-6">
                  <h6>ASSUNTO</h6>
                  {{digitalResource.subject}}
                </div>
                <div class="col-6">
                  <h6>AUTOR(ES)</h6>
                  {{digitalResource.authors}}
                </div>
                <div class="col-6">
                  <h6>PROVEDOR</h6>
                  {{digitalResource.dataProvider}}
                </div>
                <div class="col-6">
                  <h6>DATA</h6>
                  {{digitalResource.date}}
                </div>
                <div class="col-6">
                    <h6>REFERÊNCIA RECURSO</h6>
                    {{digitalResource.identifier}}
                </div>
                <div class="col-6">
                  <h6>DESCR. FISICA</h6>
                  {{digitalResource.physicalDescription}}
                </div>
                <div class="col-6">
                  <h6>CONDIÇÕES DE REPRODUÇÃO</h6>
                  {{digitalResource.rights}}
                </div>

            </div>
        </div>
     </div>
    </div>
  </div>