<div *ngIf="exhibition">
    <form #introductionForm="ngForm">
        <div class="row p-3" style="background-color: white; margin-top: 4px; margin-bottom: 4px; border-radius: 5px;">
            <div class="container-fluid m-1 mt-4 justify-content-center" style="min-height: 200px;">
                <div class="row w-100">
                    <div class="col-auto">
                        <label for="cover" class="text">RECURSO - IMAGEM DE DESTAQUE </label>
                    </div>
                    <div class="col-auto ml-auto">
                        <label for="cover" class="text">?  </label>
                    </div>
                </div>
                
                <div *ngIf="exhibition.cover.identifier == ''" class="form-control dashed-box" (click)="open()" >

                </div>
                <div *ngIf="exhibition.cover.identifier.length > 0" class="form-control dashed-box" (click)="open()">
                    <img class="w-100" style="max-height: 36rem; object-fit: cover;" src="{{exhibition.cover.identifier}}">
                </div>
               
                
                <div class="row w-100 mt-5">
                    <div class="col-auto">
                        <label for="subtitle" class="text">LEGENDA EDITÁVEL - IMAGEM DE DESTAQUE </label>
                    </div>
                </div>
                <div >
                    <input class="form-control" required type="text" class="form-control" id="title" [(ngModel)]="exhibition.cover.title" name="title" #title="ngModel" >
                </div>
                <div class="row w-100 mt-5">
                    <div class="col-auto">
                        <label for="title" class="text">TEXTO DE INTRODUÇÃO </label>
                    </div>
                    <div class="col-auto ml-auto ">
                        <label for="subtitle" class="text"> ( Máximo 3500 caracteres )  </label>
                    </div>
                </div>
                <angular-editor  id="introduction" [(ngModel)]="exhibition.introduction"  [config]="editorConfig"  name="introduction" #introduction="ngModel"></angular-editor>
                    <!-- <textarea rows="3" required  type="text" class="form-control" id="introduction" [(ngModel)]="exhibition.introduction"  name="introduction" #introduction="ngModel"></textarea> -->
                <div class="mt-5">
                    <label for="title" class="text">ASSUNTOS/PALAVRAS-CHAVE </label>
                </div>
                <div class="form-control" style="height: 200px; padding: 20px" id="exampleFormControlTextarea2">
                    <span *ngFor="let keyword of exhibition.keywords" class="keyword"><span>{{keyword}}</span> <button style="background-color: transparent; border: 0;" (click)="removeKeyword(keyword)"><h6 class="keyword-delete"> X</h6></button></span>
                    <select id="exampleFormControlSelect1" (change)="onChangeKeyword($event)">
                        <option *ngFor="let keyword of keywords" [value]="keyword">{{keyword}}</option>
                      </select>
                </div>
       
            </div>

        </div>
    </form>
</div>
