<div class="row p-3" style="background-color: white; margin-top: 4px; margin-bottom: 4px; border-radius: 5px;">
    <div class="container-fluid" style="min-height: 200px;">
        <div *ngIf="exhibition&&exhibition.items[0]" class="container p-1">
            <form #introductionForm="ngForm">
                <div class="dropit" appDraganddrop (fileDropped)="onFileDropped($event)">
                    <h3>drag n drop</h3>
                </div>
                <div *ngIf="file.name">
                    <h6>{{file.name}}</h6>
                </div>
                
                <label > LEGENDA EDITÁVEL</label>
                <input type="text" id="editableName" [(ngModel)]="editableName" name="editableName" class="form-control">
                <label>TEXTO DE INTRODUÇÃO</label>
                <textarea class="form-control" [(ngModel)]="exhibition.items[0].text" name="text" id="text" rows="6" ></textarea>
                <label>ASSUNTOS/PALAVRAS CHAVE</label>
                <div class="form-control" style="height: 200px; padding: 20px" id="exampleFormControlTextarea2">
                    <span *ngFor="let keyword of exhibition.keywords" class="keyword"><span>{{keyword}}</span> <button style="background-color: transparent; border: 0;" (click)="removeKeyword(keyword)"><h6 class="keyword-delete"> X</h6></button></span>
                </div>
            </form>
        

            
        </div>
    </div>
</div>
