.card {
    border-radius: 15px;
    text-decoration: none!;
    color: var(--text-color);
    border: 0;
    background-color: var(--secondary-color);
}

.card:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
}


.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}

.overlay {
    position: absolute;
    color: white;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
}

.card-text {
    height: 6em;
    text-decoration: none;   
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body {
    height: 18em;
}